html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: rgb(44, 58, 129);
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: aliceblue;
}

/* BARRA DE NAVEGACION */

.nav-body {
  position: fixed;
  width: 100%;
  align-items: center;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; /*no tocarmas*/
}

.keybook-logo {
  width: 60px;
  border-radius: 30%;
  position: fixed;
  right: 91%;
  top: 32px;
  transform: translate(-50%, -50%);
  display: flex;

  left: 30px;
}

@media (max-width: 480px) {
  .keybook-logo {
    width: 50%;
    display: block;
    margin: auto;
    max-width: 12%;
    right: 91%;
    top: 2%;
    transform: none; /*no tocarmas*/
  }
}

.search-bar {
  padding: 0 20%;
  margin-top: 1.5%; /*no tocarmas*/
  margin-bottom: 0.5%;
}

#basic-addon1 {
  margin-top: 1.5%; /*no tocarmas*/
  border-radius: 10px;
  border: 2px solid #b17aa2;
  background-color: aliceblue;
}

.search-content-input {
  border: none;
  background-color: aliceblue;
}

.hamburger {
  position: absolute;
  background-color: #ffc312;
}

.nav-icons {
  position: fixed;
  left: 78%;
  top: 8px;
  /*no tocarmas*/
}

.icon {
  font-size: 25px;
  padding: 0 10px;
  color: #ffc312;
}

.search-icon {
  color: #b17aa2; /*no tocarmas*/
}

.icon:hover {
  color: lightskyblue; /*no tocarmas*/
}

.nav-icon {
  display: flex;
  padding: 0;
}
.nav-icon li {
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}

.nav-icon li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffc312;
  font-weight: 600;
}
.nav-icon li:hover {
  background-color: rgb(62, 130, 197);
}

/* DISPOSITIVOS MOVILES */

@media (max-width: 992px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }

  .nav-body {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; /*no tocarmas*/
  }
  .navbar-toggler span {
    position: relative;
    background-color: #ffc312;
    display: block;
    height: 3px;
    width: 28px;
    margin: 8px auto;
    border-radius: 2px;
    /*no tocarmas*/
  }
  .navbar-toggler {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 40px;
    transition: 0.2s 0.1s;
    margin-top: 3px;
    background-color: transparent;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 28px;
    display: block;
  }

  .keybook-logo {
    display: flex;
    padding-left: 25px;
    left: 30px;
  }

  .nav-icon {
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 82vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }

  .nav-icons {
    display: flex;
    top: 306px;
    left: 73%;
    transform: translate(-90%, -55%);
  }

  .nav-icon li {
    text-align: center;
    width: 100%;
    padding: 0;
    height: auto;
    display: flex;
    position: relative;
  }

  .overlay {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    align-items: center;
  }

  .search-bar-dropdown {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    padding: 0 10%;
    box-sizing: border-box;
    top: 30%;
    right: 45%;
  }
}

/* Animaciones */

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-icons .activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.navbar-toggler.girar:hover {
  transform: rotate(360deg);
}
.navbar-toggler.girar {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler .br-1.animado {
  transform: translateY(11px) rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler .br-2.animado {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-toggler .br-3.animado {
  transform: translateY(-11px) rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

/* DEFAULT CARDS */

.default-card {
  padding: 5%;
  border-radius: 10px;
  margin: 0 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* MAIN PAGE */
.main-structure {
  margin-top: 7%;
  margin-bottom: 10%;
}

.profile-index {
  display: flex;
  align-items: center;
}

.profile-details {
  display: flex;
  justify-content: space-between;
}

.user-bio {
  display: inline-flex;
  align-items: center;
}

li {
  list-style-type: none;
  font-weight: bold;
  margin: 15px 0;

  align-items: center;
}

/* IMAGES */

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-perfil {
  box-sizing: content-box;
  /* width: 150px;
  height: 150px; */
}

.logo {
  width: 80px;
  margin: 10px 0;
  margin-right: 15px;
  border-radius: 50%;
}

.profile-index .avatar-perfil {
  width: 90%;
}

/* NEW POST */

.set-success {
  color: aliceblue;
}

.new-post-card {
  text-align: center;
  padding: 2%;
}

textarea {
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px solid #b17aa2;
  padding: 10px 10px 10px 35px;
  width: 80%;
}

.insert {
  display: flex;
  justify-content: space-around;
  margin: 1% 10%;
}

/* NEWS FEED */
.post-author {
  align-items: center;
  display: flex;
}

.post-content {
  font-size: large;
  margin: 3%;
}

/* PROFILE LIST ITEMS */
.default-card a {
  font-weight: 700;
}
.default-card a p {
  font-weight: 400;
}

/*FRIENDS PAGE*/
.search-friends {
  position: fixed;
  top: 15%;
  width: 70%;
  left: 15%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.search-input {
  padding: 10px 10px 10px 35px;
  border-radius: 10px;
  border: 2px solid #b17aa2;
  cursor: pointer;
  background-color: aliceblue;
}

.search-friends-input {
  margin: 0 7%;
}

.filter-icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-40%);
  transition: all 0.5s;
}

.friends-row {
  margin-bottom: 5%;
}

.friend-avatar {
  width: 80%;
  margin: auto;
}

.friend-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffc312;
}

.page-link {
  color: #ffc312;
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #ffc312;
}

.page-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: lightskyblue;
}

.page-link:visited {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* CREATE ACCOUNT FORM */

.error {
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  border-color: red;
  background-color: rgb(196, 47, 47);
}

.form-logo {
  border-radius: 20%;
  width: 20%;
}

.space {
  margin-top: 2%;
}

.new-user-registration {
  text-align: center;
  margin-top: 3%;
}

#form-register {
  margin-top: 5%;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#register-form-buttons {
  margin-top: 5%;
}

#profilePicture::after {
  display: none;
}

/* FOOTER */

footer {
  background-color: rgba(0, 0, 0, 0.8);
}

/*  LOGIN Y RECUPERAR CONTRASEÑA */

.main-logo {
  width: 40%;
  border-radius: 20%;
  position: relative;  
}
.slogan-container {
  text-align: center;
  margin-top: 5%;
}

.slogan-container h2 {
  font-size: 34px;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slogan-container h2:hover {
  transform: scale(1.1);
}
.login-container {
  height: 100%;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome-card {
  height: 100%;
  margin-top: 5%;
  width: 70%;
  text-align: center;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.infinity_icon span {
  font-size: 30px;
  margin-left: 10px;
  color: #ffc312;
}

.infinity_icon span:hover {
  color: aliceblue;
  cursor: pointer;
}

/*HOMEVIEW*/
.main-container {
  padding-top: 60px;
}
.col-left {
  float: left;
  width: 20%;
  display: block;
}
.default-card-left {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 5%;
  border-radius: 10px;
  margin: 0 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: block !important;
}
.col-right {
  float: right;
  width: 20%;
  display: block;
  justify-content: center;
}
.default-card-right {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 5%;
  border-radius: 10px;
  margin: 0 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: block !important;
}
.default-card-center {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 5%;
  border-radius: 10px;
  margin: 0 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: block !important;
}
.btn-post-btn {
  font: black;
  background-color: #ffc312;
  border-color: #ffc312;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  justify-content: center !important;
}
.btn-post-btn-font {
  font: black;
  width: 25px;
  height: 30px;
  justify-content: center !important;
}
.icon-btn {
  font-size: 20px;
  padding: 0 10px;
  color: black;
}
.icon-btn:hover {
  color: lightskyblue; /*no tocarmas*/
}
.pagination {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.col-center {
  display: block;
  justify-content: center;
  width: 60%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card textarea {
  width: 80%;
  height: 200px;
}
